@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;800&display=swap");

body {
    background-color: #FFFFFF;
    font-family: "Lato", sans-serif;
    
  }
  
  .body {
    align-items: center;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    justify-content: center;
    margin: auto;
    max-width: 1600px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  *:focus {
    outline: none;
  }
  
  .header {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .logo {
    height: 100px;
  }

  /* BARRE DE RECHERCHE */
  
  .search {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2rem;
  }
  
  .search-input {
    display: flex;
    height: 70px;
    width: 100%;
  }
  
  .search-bar {
    border-radius: 5px 0px 0px 5px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 0 0 1rem;
    width: 100%;
    background-color: #E7E7E7;
    color: black;
  }
  
  .search-bar:focus {
    outline: none;
  }
  
  .search-bar::placeholder {
    color: #C7BEBE;
    font-size: 18px;
  }
  
  .search-button {
    border: none;
    margin: 0;
    padding: 0 1rem;
    box-sizing: border-box;
    color: white;
    background-color: #E7E7E7;
    border-radius: 0 5px 5px 0;
    color: black;
  }

  .dropdowns {
    gap: 20px; 
  }
  
  .dropdowns__form {
    display: flex;
    height: 70px;
    width: 100%;
  }

   /* INGREDIENTS */

  .ingredient-button {
    border: none;
    margin: 0;
    padding: 0 1rem;
    box-sizing: border-box;
    color: white;
    background-color: #3282F7;
    border-radius: 0 5px 5px 0;
  }
  
  .ingredient-input {
    border-radius: 5px 0px 0px 5px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 0 0 1rem;
    width: 100%;
    background-color: #3282F7;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
  }

  .ingredient-drops {
    background-color: #3282F7;
    color: white;
    padding: 0.8rem;
    margin-top: -10px;
    list-style-type: none;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 3fr);
    display: none;
    position: absolute;
    width: 95%;
    animation: flip-in-hor-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    z-index: 1;
  }
  
  .ingredient-item {
    cursor: pointer;
  }

  .ingredient-input::placeholder {
    color: white;
  }


/* APPAREILS */

  .apparatus-button {
    border: none;
    margin: 0;
    padding: 0 1rem;
    box-sizing: border-box;
    color: white;
    background-color: #68D9A4;
    border-radius: 0 5px 5px 0;
  }
  
  .apparatus-dropdown {
    border-radius: 5px 0px 0px 5px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 0 0 1rem;
    width: 100%;
    background-color: #68D9A4;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
  }

  .apparatus-result {
    background-color: #68D9A4;
    color: white;
    padding: 0.8rem;
    margin-top: -10px;
    display: none;
    list-style-type: none;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 4fr);
    animation: flip-in-hor-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    z-index: 1;
  }
  
  .app-item {
    cursor: pointer;
  }

  .apparatus-dropdown::placeholder {
    color: white;
  }
  
  .apparatus__form {
    margin-top: 10px;
    margin-bottom: 10px;
  }

/* USTENSILES */
  
.ustensils-button {
  border: none;
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  color: white;
  background-color: #ED6454;
  border-radius: 0 5px 5px 0;
}

.ustensils-dropdown {
  border-radius: 5px 0px 0px 5px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 0 0 1rem;
  width: 100%;
  background-color: #ED6454;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
}

.ustensils-result {
  background-color: #ED6454;
  color: white;
  padding: 0.8rem;
  list-style-type: none;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 3fr);
  display: none;
  animation: flip-in-hor-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 1;
}

.ustensil-item {
  cursor: pointer;
}

.ustensils-dropdown::placeholder {
  color: white;
}
