@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;800&display=swap");

body {
    background-color: #FFFFFF;
    font-family: "Lato", sans-serif;
    
  }
  
  .body {
    align-items: center;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    justify-content: center;
    margin: auto;
    max-width: 1600px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  *:focus {
    outline: none;
  }
  
  .header {
    display: flex;
    justify-content: center;
    margin-top: -5rem;
  }

  .logo {
    height: 100px;
  }

  /* BARRE DE RECHERCHE */
  
  .search {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 8rem;
  }
  
  .search-input {
    display: flex;
    height: 70px;
    width: 100%;
  }
  
  .search-bar {
    border-radius: 5px 0px 0px 5px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 0 0 1rem;
    width: 100%;
    background-color: #E7E7E7;
    color: black;
  }
  
  .search-bar:focus {
    outline: none;
  }
  
  .search-bar::placeholder {
    color: #C7BEBE;
    font-size: 18px;
  }
  
  .search-button {
    border: none;
    margin: 0;
    padding: 0 1rem;
    box-sizing: border-box;
    color: white;
    background-color: #E7E7E7;
    border-radius: 0 5px 5px 0;
    color: black;
  }

  .dropdowns {
    gap: 20px; 
  }
  
  .dropdowns__form {
    display: flex;
    height: 70px;
    width: 100%;
  }

   /* INGREDIENTS */

  .ingredient-button {
    border: none;
    margin: 0;
    padding: 0 1rem;
    box-sizing: border-box;
    color: white;
    background-color: #3282F7;
    border-radius: 0 5px 5px 0;
  }
  
  .ingredient-input {
    border-radius: 5px 0px 0px 5px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 0 0 1rem;
    width: 100%;
    background-color: #3282F7;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
  }

  .ingredient-drops {
    background-color: #3282F7;
    color: white;
    padding: 0.8rem;
    margin-top: -10px;
    list-style-type: none;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 3fr);
    display: none;
    position: absolute;
    width: 95%;
    animation: flip-in-hor-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    z-index: 1;
  }
  
  .ingredient-item {
    cursor: pointer;
  }

  .ingredient-input::placeholder {
    color: white;
  }


/* APPAREILS */

  .apparatus-button {
    border: none;
    margin: 0;
    padding: 0 1rem;
    box-sizing: border-box;
    color: white;
    background-color: #68D9A4;
    border-radius: 0 5px 5px 0;
  }
  
  .apparatus-dropdown {
    border-radius: 5px 0px 0px 5px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 0 0 1rem;
    width: 100%;
    background-color: #68D9A4;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
  }

  .apparatus-result {
    background-color: #68D9A4;
    color: white;
    padding: 0.8rem;
    margin-top: -10px;
    display: none;
    list-style-type: none;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 4fr);
    animation: flip-in-hor-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    z-index: 1;
  }
  
  .app-item {
    cursor: pointer;
  }

  .apparatus-dropdown::placeholder {
    color: white;
  }
  
  .apparatus__form {
    margin-top: 10px;
    margin-bottom: 10px;
  }

/* USTENSILES */
  
.ustensils-button {
  border: none;
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  color: white;
  background-color: #ED6454;
  border-radius: 0 5px 5px 0;
}

.ustensils-dropdown {
  border-radius: 5px 0px 0px 5px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 0 0 1rem;
  width: 100%;
  background-color: #ED6454;
  border-radius: 5px 0 0 5px;
  font-size: 18px;
}

.ustensils-result {
  background-color: #ED6454;
  color: white;
  padding: 0.8rem;
  list-style-type: none;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 3fr);
  display: none;
  animation: flip-in-hor-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 1;
}

.ustensil-item {
  cursor: pointer;
}

.ustensils-dropdown::placeholder {
  color: white;
}

/* CARTES */

.recipe-img {
  background-color: #C7BEBE;
  border-radius: 5px 5px 0 0;
  height: 150px;
}

.recipe-section {
  padding: 0.5rem 1rem 2rem 1rem;
  background-color: #E7E7E7;
  border-radius: 0 0 5px 5px;
  animation: slide-in-right 0.7s cubic-bezier(0.25, 0.45, 0.45, .94) both
}

.recipe-header {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin: 0;
}

.recipe-aside {
  align-items: center;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  height: 110px;
  font-size: 12px;
}

.recipe-list {
  align-self: start;
  font-size: 12px;
  justify-self: start;
}

.recipe-description {
  align-self: start;
  height: 118px;
  justify-self: start;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 100%;
}

.recipe-time {
  display:flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 60px;
}

.fal {
  font-weight: 500;
}

/* TAGS */

.search-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.filter-query {
  align-items: center;
  background-color: #47597E;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: .5rem 0rem .5rem 0rem;
  padding: 0.5rem 0.3rem;
}

.filter-icon {
  padding: .3rem .3rem;
} 

@keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* LARGE DEVICES */

@media screen and (min-width: 800px) {
  body {
    margin: auto;
    max-width: 800px;
  }
  .body {
    align-items: center;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
  }
  .header {
    grid-column: 1;
    grid-row: 1;
  }
  .search {
    grid-column: 1;
    grid-row: 1;
  }
  .dropdowns {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
  }
  .dropdowns .ingredient {
    grid-column: 1;
    grid-row: 1;
  }
  .dropdowns .apparatus {
    grid-column: 2;
    grid-row: 1;
  }
  .dropdowns .ustensils {
    grid-column: 3;
    grid-row: 1;
  }
  .ingredient-results {
    grid-column: 1 / span 6;
    grid-row: 2;
  }
  .apparatus-results {
    grid-column: 2 / span 6;
    grid-row: 2;
  }
  .ustensils-result {
    grid-column: 3 / span 6;
    grid-row: 2;
  }

  .ingredient-results {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }

  .ingredient-drops {
    background-color: #3282F7;
    color: white;
    padding: 0.8rem;
    margin-top: -20px;
    list-style-type: none;
    gap: 0.5rem;
    grid-template-columns: repeat(6, 3fr);
    display: none;
    width: 820px;
  }

  .open {
    width: 600px;
  }

  .apparatus-results {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }

  .apparatus-result {
    background-color: #68D9A4;
    color: white;
    padding: 0.8rem;
    margin-top: -20px;
    display: none;
    list-style-type: none;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 2fr);
    position: absolute;
  
  }

  .ustensils-result {
    background-color: #ED6454;
    color: white;
    padding: 0.8rem;
    list-style-type: none;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 3fr);
    position: absolute;
    margin-top: 350px;
    margin-top: -10px;
  }

  .recipes-section {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 1fr;
    justify-content: center;
  }

}


